<!DOCTYPE html>
<html>

{{> message}}

<head>
    <style>
        body {
            background-color: #cb768b;
        }

        .weather-container {
            text-align: center;
            background-color: #d390a1;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 class="mt-4 mb-4 text-center">Climate Contest!</h2>
        <div class="weather-container">
            <div class="weather-info">
                <p>Do you have what it takes to forsee the forecast? (quippy line about how this is the quiz page)</p>
                <h3>Question...</h3>
            </div>
        </div>
    </div>
</body>

</html>