<!DOCTYPE html>
<html>

{{> message}}

<head>
    <style>
        body {
            background-color: #73bdca;
        }

        .weather-container {
            text-align: center;
            background-color: #95ced8;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 class="mt-4 mb-4 text-center">Weather Facts!</h2>
        <div class="weather-container">
            <div class="weather-info">
                <p>So many FACTS!</p>
            </div>
        </div>
    </div>
</body>

</html>